*{
    box-sizing: border-box;
}

.nombre-titulo{
    background-color: #E9C46A;
    font-family: 'Hind Madurai Bold', sans-serif;
    border-radius: 40px;
}

.nombre-about{
    background-color: #E76F51;
    font-family: Impact, Haettenschweiler, 'Arial Narrow', sans-serif;
    color:white;
}

html{
    scroll-behavior: smooth;
}

.line{
    height: 2px;
    width: 100%;
    justify-content: center;
    background-color: #E9C46A;
    justify-self: center;
}

header{
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: #E76F51;
    margin: 0px;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow', sans-serif;
}

h2{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow', sans-serif;
    color: white;
    background-color:#264653;
    margin: 0px;
    border: 0px;
    padding: 30px;
}

nav {
    background-color: #E76F51;
    color: white;
    width: 100%;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav li {
    display: inline-block;
}

nav a {
    color: white;
    font-family: 'Lora', serif;
    font-size: large;
    text-decoration: none;
    padding: 1em;
    display: block;
}

nav a:hover {
    background-color: #f9d99a;
} 

.barra-center{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

@media (max-width: 952px) {
    nav ul li a{
        font-size: 16px;

    }
}
  
.slider {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;  
  }
  
  .slide {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 0.5s;
  }
  
  .slide img {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
  
  .btn {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    z-index: 10px;
    cursor: pointer;
    background-color: #fff;
    font-size: 18px;
  }
  
  .btn:active {
    transform: scale(1.1);
  }
  
  .btn-prev {
    top: 45%;
    left: 2%;
  }
  
  .btn-next {
    top: 45%;
    right: 2%;
  }

.proyecto1{
    display: flex;
    justify-content: space-between;
    background-color: #2A9D8F;
    color: #E9C46A;
}

.proyecto1-titulo{
    color: #264653;
}

.proyecto2{
    display: flex;
    justify-content: space-between;
    background-color: #F4A261;
    color:white;
}

.proyecto3{
    display: flex;
    justify-content: space-between;
    background-color: #2A9D8F;
    color: #E9C46A;
}

.nombre-color{
    background-color: #E76F51;
    font-family: 'Hind Madurai', sans-serif;
    border-radius: 40px;
}

.objetivo-color{
    background-color: #E9C46A;
    font-family: 'Hind Madurai', sans-serif;
    border-radius: 40px;
}

.proyecto-image1{
    display: flex;
    justify-content: flex-end;
    height: 40%;
    width: 40%;
    margin: 20px;
    border: 0px;
    margin-left: 10%;
}

.proyecto-image2{
    display: flex;
    justify-content: flex-end;
    height: 40%;
    width: 40%;
    margin: 20px;
    border: 0px;
    margin-right: 10%;
}


.proyecto-info{
    display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-direction: column;
    margin: auto;
    height: 500px;
    width: 500px;
    font-family: 'Hind Madurai', sans-serif;
}

.general{
    display: flex;
    background-color: #2A9D8F;
}

.page-skills{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    flex-direction: column;
    background-color: #F4A261;
}

.page-contact{
    display: flex;
    justify-content: center;
    width: 40%;
    flex-direction: column;
    margin: 40px;
    border-radius: 40px;
    color: white;
}

.contact-name{
    grid-area: name;
}

.contact-social{
    grid-area: social;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact-email{
    grid-area: email;
    
}

.contact-myemail{
    grid-area: myemail;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact-message{
    grid-area: message;
}

.contact-number{
    grid-area: number;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact-boton{
    grid-area: boton;
    width: 100px;
    background-color: #E9C46A;
    border-radius: 16px;
    border-color: white;
    color:#264653;
}

.contact-location{
    grid-area: location;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact{
    display: grid;
    column-gap: 20px;
    row-gap: 20px;
    font-family: 'Hind Madurai', sans-serif;
    grid-template-areas:
    ". ."
    "name location"
    "email myemail"
    "message number" 
    "boton social";
}

.example-group {
    position: relative;
    display: inline-block;
    
  }

.example-input {
    border-color: #E9C46A;
    background-color: #2A9D8F;
    padding: 8px;
    border-radius: 16px;
    border: 2px #E9C46A solid;
    width: 300px;
    text-indent: 18px;
    font-size: 18px;
}

.input-label {
    background-color: #2A9D8F;
    color: #E9C46A;
    font-size: 11px;
    position: absolute;
    left: 25px;
    top: -7px;
    padding: 0 2px;
    
}

.short-input {
    max-width: 200px;
  }

canvas{
    width: 60%;
    height:200px;
    border:1px solid #333;
    display:inline-block;
    position:relative;
  }

  #lgnd{
    width:30%;
    height:200px;
    border:2px solid white;
    display:inline-block;
    position:relative;
    font-family: 'Hind Madurai', sans-serif;
    color: white;
  }

.lbl{
    width:10px;
    display:inline-block;
    height:10px;
    font-family: 'Hind Madurai', sans-serif;
}

.division{
    background-color: #264653;
}   

.skill-nombre{
    border-radius: 40px;
    width: 300px;
    background-color: #E76F51;
}

.contact-nombre{
    border-radius: 40px;
    width: 300px;
    background-color:#264653;
}
    
.skills-flex{
    display: flex;
    justify-content: space-between;
    align-items: self-start;

}