*{
    box-sizing: border-box;

}


html{
    scroll-behavior: smooth;
}

header{
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    padding: 5px;
    background-color: #95b8f6;
    margin: 0px;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

h2{
    text-align: center;
    font-family: 'Lora', serif;;
}

nav {
    background-color: #95b8f6;
    color: white;
    width: 100%;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav li {
    display: inline-block;
}

nav a {
    color: black;
    font-family: 'Lora', serif;
    font-size: large;
    text-decoration: none;
    padding: 1em;
    display: block;
}

nav a:hover {
    background-color: #f9d99a;
} 

.barra-center{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

@media (max-width: 952px) {
    nav ul li a{
        font-size: 16px;

    }
}
  
.slider {
    width: 100%;
    max-width: 800px;
    height: 350px;
    position: relative;
    overflow: hidden;  /* <===  */

  }
  
  .slide {
    width: 100%;
    max-width: 800px;
    height: 350px;
    position: absolute;
    transition: all 0.5s;
  }
  
  .slide img {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
  
  .btn {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    z-index: 10px;
    cursor: pointer;
    background-color: #fff;
    font-size: 18px;
  }
  
  .btn:active {
    transform: scale(1.1);
  }
  
  .btn-prev {
    top: 45%;
    left: 2%;
  }
  
  .btn-next {
    top: 45%;
    right: 2%;
  }

