*{
    box-sizing: border-box;
}


html{
    scroll-behavior: smooth;
}

header{
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    padding: 5px;
    background-color: #95b8f6;
    margin: 0px;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

h2{
    text-align: center;
    font-family: 'Lora', serif;
    color: yellow;
}

nav {
    background-color: #95b8f6;
    color: white;
    width: 100%;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav li {
    display: inline-block;
}

nav a {
    color: black;
    font-family: 'Lora', serif;
    font-size: large;
    text-decoration: none;
    padding: 1em;
    display: block;
}

nav a:hover {
    background-color: #f9d99a;
} 

.barra-center{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

@media (max-width: 952px) {
    nav ul li a{
        font-size: 16px;

    }
}
  
.slider {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;  
  }
  
  .slide {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 0.5s;
  }
  
  .slide img {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
  
  .btn {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    z-index: 10px;
    cursor: pointer;
    background-color: #fff;
    font-size: 18px;
  }
  
  .btn:active {
    transform: scale(1.1);
  }
  
  .btn-prev {
    top: 45%;
    left: 2%;
  }
  
  .btn-next {
    top: 45%;
    right: 2%;
  }

.proyecto1{
    display: flex;
    justify-content: space-between;
    background-color:rgb(250, 147, 147);
}

.proyecto2{
    display: flex;
    justify-content: space-between;
    background-color: rgb(186, 149, 255);
}

.proyecto3{
    display: flex;
    justify-content: space-between;
    background-color: rgb(146, 247, 137);
}


.proyecto-image1{
    display: flex;
    justify-content: flex-end;
    height: 40%;
    width: 40%;
    margin: 20px;
    border: 0px;
    margin-left: 10%;
}

.proyecto-image2{
    display: flex;
    justify-content: flex-end;
    height: 40%;
    width: 40%;
    margin: 20px;
    border: 0px;
    margin-right: 10%;
}


.proyecto-info{
    display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-direction: column;
    margin: auto;
    height: 500px;
    width: 500px;
    font-family: 'Hind Madurai', sans-serif;;
}

.general{
    display: flex;
}

.page-skills{
    display: flex;
    justify-content: center;
    width: 50%;
    flex-direction: column;
}

.page-contact{
    display: flex;
    justify-content: center;
    width: 50%;
    flex-direction: column;
    margin: 40px;

}

.contact-name{
    grid-area: name;
}

.contact-social{
    grid-area: social;
}

.contact-email{
    grid-area: email;
}

.contact-myemail{
    grid-area: myemail;
}

.contact-message{
    grid-area: message;
}

.contact-number{
    grid-area: number;
}

.contact-boton{
    grid-area: boton;
    width: 100px;
}

.contact-location{
    grid-area: location;
}

.contact{
    display: grid;
    column-gap: 20px;
    row-gap: 20px;
    grid-template-areas:
    "name location"
    "email myemail"
    "message number" 
    "boton social";
}

.example-group {
    position: relative;
    display: inline-block;
    
  }

.example-input {
    border-color: crimson;
    background-color: #95b8f6;
    padding: 8px;
    border-radius: 16px;
    border: 2px #885a2d solid;
    width: 300px;
    text-indent: 18px;
    font-size: 18px;
}

.input-label {
    background-color: #95b8f6;
    color: crimson;
    font-size: 11px;
    position: absolute;
    left: 25px;
    top: -7px;
    padding: 0 2px;
}

.short-input {
    max-width: 200px;
  }

canvas{
    width: 350px;
    height:200px;
    border:1px solid #333;
    display:inline-block;
    position:relative;
  }

  #lgnd{
    width:200px;
    height:200px;
    border:1px solid #000;
    display:inline-block;
    left:515px;
    position:absolute;
  }
.lbl{
    width:10px;
    display:inline-block;
    height:10px;
}

    
    
